@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #012a4a;
  color: white;
}
.banner a {
  color: White;
  text-decoration: none; /* no underline */
  /* transform: translateY(-120%); */
  border: 1px solid white;
  padding: 10px;
  font-size: 2em;
  border-radius: 10px;
  font-weight: 500;
  background-color: rgba(255, 168, 7, 0.829);
  transition: background-color 1s, box-shadow 1s;
  /* width: 90%; */
  text-align: center;
  text-shadow: 1px 1px 1px grey;
}
.banner a:hover {
  background-color: rgba(255, 133, 34, 0.788);
  box-shadow: 0px 10px 10px black;
}
.navbar {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #013a63;
  color: white;
  border-bottom-right-radius: 10px;
}
/* main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
} */
.s2 h2 em {
  font-size: 1.3em;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 75vh; */
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  filter: blur(0px);
}
.banner img {
  height: 100%;
  width: 100%;
}
.logo {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-items: center;
  align-items: center;
  /* padding: 0 2vw; */
}
.logo img {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 100px;
}
.links {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}
.links a {
  color: white;
  text-decoration: none;
}
.s3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  padding: 0 10%;
}

.s2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  font-size: 2em;
  background-color: #014f86;
}
.s3 article {
  display: grid;
  padding: 10vh 0;
  grid-template-columns: auto auto auto;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-items: center;
  grid-gap: 10vmin;
  /* text-align: center; */
}
.card {
  display: flex;
  font-size: 1.4em;
  flex-direction: column;
  border: 0.5px solid grey;
  box-shadow: 0 10px 10px rgb(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 3%;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #01497c;
}
.card h2 .material-icons {
  font-size: 1.2em;
}
.s4 {
  background-color: #013a63;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
.s4 h2 {
  display: flex;
  padding: 3vh 0;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.s4 h2 span {
  font-size: 1.4em;
  padding: 0 3px;
}
.card-holder {
  /* padding: 10vh; */
  display: grid;
  grid-template-columns: auto auto auto;
  padding: auto;
  width: 70%;
  align-items: center;
}
.bCard {
  padding: 10px;
  margin: 10px;
  border: 0.5px solid grey;
  box-shadow: 10px 10px 10px rgb(16, 32, 43);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  border-radius: 10px;
}
.bCard img {
  width: 50%;
  border-radius: 50%;
  border: 5px solid hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);
  background-color: rgb(28, 28, 28);
}
